body{
  background-color: #9266ff;
}
.App{
  background-color: #3f3160;
  min-height: 650px;
  width:400px;
  margin: 40px auto;
}
#to-do-from input{
  background-color: rgb(27, 112, 137);
  border: 0;
  width: 200px;
  height: 50px;
  margin: 20px;
  padding: 0 20px;
  font-size: 18px;
  border-radius: 10px;
  color: #fff;
}

#to-do-from input::placeholder{
color: rgba(255, 255, 255, .5);
}

#to-do-from input:focus, #to-do-from button:focus{
  outline: none;
}

#to-do-from button{
  height: 50px;
  width: 80px;
  border: 0;
  background-color: rgb(202, 156, 24);
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
  font-size: 18px;

}